body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(31, 28, 28);
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau Infant', sans-serif;
}
.bd  {
  background-color: rgb(49, 45, 45);
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(68, 66, 66),-5px -5px 20px rgb(68, 66, 66);
}

img {
  height: 350px;
  border-radius: 20px;
  width: 280px;
  opacity: .8;

border: 2px rgb(57, 56, 56) solid;

}

img:hover {
  box-shadow: 3px 6px 10px rgb(42, 41, 41) ,-3px -6px 10px rgb(45, 43, 43) ;

}

.top {

  display: flex;
  align-items: center;
  
  flex-direction: column;
  

}

.top h3 {
  margin-bottom: 0px;

}

.top h4 {
  margin-top: 3px;
  font-size: 14px;
}

.btn {
display: flex;

justify-content: center;
gap: 20px;
margin-top: 30px;
margin-bottom: 30px;
}


.btn .btn1:hover {
color: white;
background-color: rgb(28, 26, 26);

}
 .btn .btn2:hover {
  color: rgb(87, 87, 231);
  background-color: white;
  
  }

.btn button {
  padding: 10px;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: rgb(28, 26, 26);
  font-weight: 600;
  border: none;
}
.btn .btn1 {
  transition: .3s linear; 
  cursor: pointer;}

.btn .btn2 {
  transition: .3s linear;
  background-color: rgb(87, 87, 231);
  color: white;
  cursor: pointer;
}


.info {

margin-top: 20px;
width: 300px;

}
.info h3 {
 
  text-align: left;
}

.info .int {
  margin-top: 7px;
  background-color: rgb(29, 28, 28);
  padding: 5px;
  padding-left: 15px;
  padding-top: 1px;
  border-radius: 10px;
}
.info .abt {
  background-color: rgb(29, 28, 28);
  padding: 5px;
  padding-top: 1px;
  border-radius: 10px;
  padding-left: 15px; 
}

.social {
  display: flex;
  justify-content: center;

  gap: 30px;
  font-size: 30px;
  opacity: .7;
  margin-top: 30px;
  width: 100%;

  transition: .3s linear;
}
.fb,.gh,.ig,.twi

{

transition: .3s linear; 
cursor: pointer;}

.social > .fb:hover , .social .gh:hover, .social .ig:hover, .social .twi:hover{

filter: invert();

}

.fb a,.gh a,.ig a,.twi a {
  text-decoration: none;
  color: rgb(23, 140, 155);
}
